extends layout

block content
  div.col-10
    h1= title
    p Welcome to #{title}
    ul 
      li 
        a(href="/preparando") Github ejemplos 
      li
        a(href="/unidad_1/planificando_el_espacio") Github para practicas 
      li
        a(href="/unidad_1/planificando_el_espacio") VsCode - Plugins: Excalidraw 
      li 
        a(href="/unidad_1/planificando_el_espacio") Trello para practicas 
        amaras al inspector