extends layout

block content
  div.col-10
    h1 Preparando
    article
      h2 Entorno de desarrollo
      ul 
        li 
          p VsCode con diferentes plugins para facilitar el desarrollo: #[a(href="https://marketplace.visualstudio.com/items?itemName=pomdtr.excalidraw-editor") Excalidraw]
        li 
          p Repositorio de GitHub con los ejemplos de clase: #[a(href="https://github.com/ciclos/DIW") ejemplos de DIW]
        li 
          p sPanel kanban para organizar las tareas: #[a(href="https://trello.com/b/yourboard") Trello]